@import '../../_mixins';

.nav-list {
  display: flex;
  gap: 40px;
}

.nav-list__item a {
  font-size: 36px;
  transition: all 0.3s;

  &:hover {
    @include gradient-text;
    @include disable-gradient;
  }
}
