@mixin gradient-text() {
  background-image: radial-gradient(
          circle at top left,
          rgba(62, 78, 135, 0.49),
          transparent 40%
  ),
  radial-gradient(
          circle at top right,
          rgba(127, 195, 65, 0.5),
          transparent 40%
  ),
  radial-gradient(at bottom left, rgba(255, 0, 255, 0.5), transparent 100%),
  radial-gradient(at bottom right, rgba(255, 100, 100, 0.5), transparent 100%);
  color: transparent;
  -webkit-background-clip: text;
}

@mixin gradient-dark-text() {
  background-image: radial-gradient(
          circle at top left,
          rgba(66, 83, 144, 0.89),
          transparent 40%
  ),
  radial-gradient(
          circle at top right,
          rgba(127, 195, 65, 0.88),
          transparent 40%
  ),
  radial-gradient(at bottom left, rgba(255, 0, 255, 0.88), transparent 100%),
  radial-gradient(at bottom right, rgba(255, 100, 100, 0.9), transparent 100%);
  color: transparent;
  -webkit-background-clip: text;
}

@mixin main-gradient() {
  background-image: linear-gradient(to left, aqua, aquamarine);
}

@mixin disable-gradient() {
  -webkit-background-clip: unset;
  color: white;
}

